[server]
host="${SERVER_HOST}"
port=${SERVER_PORT}

[database]
host="${DATABASE_HOST}"
user="${DATABASE_USER}"
password="${DATABASE_PASSWORD}"
name="${DATABASE_NAME}"
port=${DATABASE_PORT}
debug=${DATABASE_DEBUG}
ssl_mode="${DATABASE_SSL_MODE:-disable}"
# Connection pool (0 = GORM default): max_open_conns, max_idle_conns, conn_max_lifetime_seconds
max_open_conns=${DATABASE_MAX_OPEN_CONNS:-0}
max_idle_conns=${DATABASE_MAX_IDLE_CONNS:-0}
conn_max_lifetime_seconds=${DATABASE_CONN_MAX_LIFETIME_SECONDS:-0}

# level=trace, debug, info, warn, warning, error, fatal, panic
[logger]
level="${LOGGER_LEVEL}"

[task]
list_default_limit=${TASK_LIST_DEFAULT_LIMIT:-20}
list_max_limit=${TASK_LIST_MAX_LIMIT:-50}

[team]
list_default_limit=${TEAM_LIST_DEFAULT_LIMIT:-10}
list_max_limit=${TEAM_LIST_MAX_LIMIT:-20}

[cache]
host="${CACHE_HOST}"
port=${CACHE_PORT:-6379}
password="${CACHE_PASSWORD}"
db=${CACHE_DB:-0}
default_ttl_seconds=${CACHE_DEFAULT_TTL_SECONDS:-300}